body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f3e9;
    padding: 20px;
}
header {
    color: #9caf88;
    text-align: center;
    margin-bottom: 30px;
}

p {
   color: #555;
   line-height: 1.6;
   font-size: 16px; 
}

h2 {
    color: #7a8c6f;
    font-weight: normal;
    font-size: 24px;
}

li {
    color: #666;
    margin-bottom: 15px;
    padding: 8px;
}

ol {
    background-color: #e6e6fa;
    padding: 20px;
    border-radius: 8px;
}

h3 {
    color: #7a8c6f;
    font-size: 20px;
    font-weight: normal;
}

